In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('AirfoilSelfNoise.csv')

In [3]:
df.head()

      f  alpha       c  U_infinity     delta     SSPL
0   800    0.0  0.3048        71.3  0.002663  126.201
1  1000    0.0  0.3048        71.3  0.002663  125.201
2  1250    0.0  0.3048        71.3  0.002663  125.951
3  1600    0.0  0.3048        71.3  0.002663  127.591
4  2000    0.0  0.3048        71.3  0.002663  127.461

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1503 entries, 0 to 1502
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   f           1503 non-null   int64
 1   alpha       1503 non-null   float64
 2   c           1503 non-null   float64
 3   U_infinity  1503 non-null   float64
 4   delta       1503 non-null   float64
 5   SSPL        1503 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 70.6 KB

In [5]:
df.isnull().sum()

f             0
alpha         0
c             0
U_infinity    0
delta         0
SSPL          0
dtype: int64

In [6]:
# Select ratio
ratio = 0.70
 
total_rows = df.shape[0]
train_size = int(total_rows*ratio)
 
# Split data into test and train
train = df[0:train_size]
test = df[train_size:]

In [7]:
X_train = train.drop(['SSPL'], axis=1)

X_train.head()

      f  alpha       c  U_infinity     delta
0   800    0.0  0.3048        71.3  0.002663
1  1000    0.0  0.3048        71.3  0.002663
2  1250    0.0  0.3048        71.3  0.002663
3  1600    0.0  0.3048        71.3  0.002663
4  2000    0.0  0.3048        71.3  0.002663

In [8]:
# Putting response variable to y
y_train = train['SSPL']

y_train.head()

0    126.201
1    125.201
2    125.951
3    127.591
4    127.461
Name: SSPL, dtype: float64

In [9]:
X_test = test.drop(['SSPL'], axis=1)

X_test.head()

         f  alpha       c  U_infinity     delta
1052  3150    4.8  0.0254        31.7  0.000931
1053  4000    4.8  0.0254        31.7  0.000931
1054  5000    4.8  0.0254        31.7  0.000931
1055  6300    4.8  0.0254        31.7  0.000931
1056  8000    4.8  0.0254        31.7  0.000931

In [10]:
# Putting response variable to y
y_test = test['SSPL']

y_test.head()

1052    134.268
1053    135.328
1054    135.248
1055    132.898
1056    127.008
Name: SSPL, dtype: float64

In [11]:
#Scaling the data without sklearn
X_train = (X_train - np.mean(X_train)) / np.std(X_train)
y_train = (y_train - np.mean(y_train)) / np.std(y_train)

In [12]:
def polynomial_regression(x, y, degree):
    X = np.ones((len(x), 1))
    for i in range(1, degree + 1):
        X = np.hstack((X, np.power(x, i)))
    theta = np.linalg.inv(X.T @ X) @ X.T @ y
    return theta

In [13]:
# Step 4: Train the model
degree = 2
theta = polynomial_regression(X_train, y_train, degree)

In [14]:
# Step 5: Test the model
x_test = np.ones((len(X_test), 1))
for i in range(1, degree + 1):
    x_test = np.hstack((x_test, np.power(X_test, i)))
y_pred = x_test @ theta

In [15]:
# Step 6: Evaluate the model
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean squared error:", mse)

Mean squared error: 9257986483509.893